<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.love_cookies.e_office">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".E_OfficeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CookieTheme">
        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />

        <activity android:name=".View.Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.Activity.MainActivity" />
        <activity android:name=".View.Activity.LoginActivity" />
        <activity android:name=".View.Activity.RegisterActivity" />
        <activity android:name=".View.Activity.ProjectActivity" />
        <activity android:name=".View.Activity.OfficialActivity" />
        <activity android:name=".View.Activity.NoticeActivity" />
        <activity android:name=".View.Activity.EnterpriseActivity" />
        <activity android:name=".View.Activity.MeetingActivity" />
        <activity android:name=".View.Activity.AttendanceActivity"></activity>
    </application>

</manifest>